@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
}

nav {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header {
    width: 100%;
    padding: 12rem 0;
    background-image: url(./imgs/fcb14a161aa9547b4673c26e4bc92cdd.jpeg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
        width: 700px;
        max-width: 95%;
        padding: clamp(5rem, 5.5rem, 6rem) 2rem;
        background-color: rgba(0, 128, 0, 0.212);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        position: relative;
        h1 {
            font-size: clamp(20px,30px,40px);
            text-align: center;
        }
        button {
            padding: clamp(10px,1vh,20px);
            background-color: rgb(129, 193, 50);
            color: white;
            outline: none;
            border: none;
        }
        .header1 {
            width: 10%;
            padding: clamp(30px, 35px, 40px);
            background-color: rgba(0, 128, 0, 0);
            position: absolute;
            bottom: 0;
            left: clamp(0px, 5px, 10px);
            border-bottom: 1px solid white;
            border-left: 1px solid white;
        }
        .header2{
            width: 10%;
            padding: clamp(30px, 35px, 40px);
            background-color: rgba(0, 128, 0, 0);
            position: absolute;
            top: 0;
            right: clamp(0px, 5px, 10px);
            border-top: 1px solid white;
            border-right: 1px solid white;
        }
    }
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .main1 {
        width: 100%;
        padding: clamp(2rem, 2.5rem, 3rem);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        img {
            width: 500px;
            max-width: 90%;
            box-shadow: 1px -1px 20px 2px rgba(0, 0, 0, 0.5);
            @media screen and (max-width: 767px) {
                order: 2;
            }
        }
        .main2 {
            width: 400px;
            max-width: 100%;
            @media screen and (max-width: 767px) {
                order: 1;
            }
            h2 {
                padding-bottom: clamp(10px, 15px, 20px);
                font-size: clamp(10px, 25px, 40px);
            }
            hr {
                width: 10%;
                padding: 1px;
                border: none;
                background-color: #81c132;
            }
            p {
                padding-top: clamp(10px, 15px, 20px) ;
                font-size: 15px;
                word-spacing: 5px;
            }
        }
    }
}

.main3{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: clamp(10px, 15px, 20px);
    position: relative;
    img {
        width: 500px;
        max-width: 90%;
        box-shadow: 1px -1px 20px 2px rgba(0, 0, 0, 0.5);
        position: absolute;
        top: clamp(-50px, -85px, -100px);
        left: clamp(300px, 465px, 500px);
        @media screen and(max-width:767px) {
        order: 1;
    }
    }
    .main5 {
        width: 250px;
        max-width: 80%;
        padding: 15px;
        position: absolute;
        left: 180px;
        top: 20px;
        i{
            color: #0000001e;
            position: static;
            z-index: -1;
        }
        @media screen and(max-width:767px) {
        order: 2;
    }
    }
    .main4 {
        width: 300px;
        max-width: 80%;
        background-color: #eee;
        padding: clamp(25px, 35px, 40px);
        position: absolute;
        top: -50px;
        right: 235px;
        hr {
            width: 15%;
            padding: 1px;
            border: none;
            background-color: #81c132;
            }
            h2 {
                padding-bottom: clamp(10px, 15px, 20px);
            }
            p {
                padding-top: clamp(10px, 15px, 20px);
            }
        @media screen and(max-width:767px) {
        order: 3;
    }
    }
}